.App {
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 1.5px;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  
}

.wsp-logo {
  padding-top: 2px;
  height: 7vmin;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}


.App-header {
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.turno-actual {
  font-size: 2rem;
}

.table-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

table { border-collapse: separate; 
  padding:  0 10px 0 10px;}

tr td:first-child { 
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px; 
}
tr td:last-child { 
  border-top-right-radius: 80px; 
  border-bottom-right-radius: 80px; 
}
table tr:nth-child(odd){
  background-color:#c9c9c9; 
}
table tr:nth-child(even){
  background-color:#e3e3e3; 
  
}

.header-tow { 
  background-color:#333333!important; 
  Color:white; 
} 
th, td { 
  width:150px; 
  text-align:center; 
  padding:5px ;
  height: 50px;
} 
.geeks { 
  border-right:hidden; 
} 
.gfg { 
  border-collapse:separate; 
  border-spacing:0 15px; 
} 

.disponible {
  background-color: #ffc000;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 30px; 
  min-height: 40px;
  margin: 0 10px 0 10px;
}

.whatsapp{
  background-color: #000;
  color: #FFF;
  border-radius: 30px; 
  margin: 0 10px 0 10px;
  min-height: 40px;
}

